/* borders and spacing */
#table-of-contents {
  border-right: 1px solid #595959; }

#main-text {
  border-right: 1px solid #595959; }

#navbar {
  border-bottom: 1px solid #595959; }

/* document fonts */
body {
  background-color: #4A5059;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  color: #AAA; }

blockquote {
  border-left: 5px solid #888;
  margin-left: 0;
  padding-left: 2em;
  color: #888; }

a, a:link, a:visited {
  text-decoration: none;
  color: #99B; }

h1, h2, h3, h3, h4, h5, h6, h7 {
  font-size: 14px;
  text-transform: uppercase;
  color: #888;
  margin: 0;
  margin-top: 4em;
  margin-bottom: 0em;
  font-weight: normal;
  letter-spacing: 0.15em;
  line-height: 1.2em; }

h1 {
  font-size: 24px;
  margin-top: 120px;
  margin-bottom: 10px; }

h2 {
  font-size: 16px; }

code {
  padding: 1px 4px; }

pre {
  padding: 5px 20px; }

code, pre {
  overflow: auto;
  background-color: #444;
  border: 1px solid #555;
  border-radius: 5px;
  color: #AAA;
  font-size: 12px;
  line-height: 1.5em; }

.active {
  background-color: #456; }

.fig-in-text {
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959; }

/* div font overrides */
#navbar {
  color: #888; }

#table-of-contents {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  color: #888; }
  #table-of-contents a {
    text-decoration: none; }
    #table-of-contents a:link, #table-of-contents a:visited {
      color: #888; }
  #table-of-contents .toc h1, #table-of-contents .toc h2 {
    text-transform: uppercase;
    margin-top: 4px; }
  #table-of-contents .toc h3, #table-of-contents .toc h4, #table-of-contents .toc h5, #table-of-contents .toc h6, #table-of-contents .toc h7 {
    font-style: italic; }

#main-text a.figlink.active {
  padding: 4px 0px;
  margin-top: 6em;
  text-align: right; }
  #main-text a.figlink.active:link, #main-text a.figlink.active:visited {
    color: #99C;
    text-decoration: underline; }
#main-text .fig-in-text {
  font-size: 12px;
  line-height: 1.2em;
  background-color: #456;
  color: #AAA; }
  #main-text .fig-in-text code, #main-text .fig-in-text pre {
    font-size: 12px;
    text-transform: none; }
  #main-text .fig-in-text a, #main-text .fig-in-text a:link, #main-text .fig-in-text a:visited {
    color: #99A; }
  #main-text .fig-in-text img {
    padding-top: 10px; }
  #main-text .fig-in-text pre, #main-text .fig-in-text code {
    border: 1px solid #668;
    background-color: #345;
    color: #888; }

#figure-list .fig-in-figlist {
  font-size: 12px;
  line-height: 1.2em; }
  #figure-list .fig-in-figlist code, #figure-list .fig-in-figlist pre {
    font-size: 12px;
    text-transform: none; }
  #figure-list .fig-in-figlist a, #figure-list .fig-in-figlist a:link, #figure-list .fig-in-figlist a:visited {
    color: #99A; }
  #figure-list .fig-in-figlist img {
    padding-top: 10px; }
  #figure-list .fig-in-figlist.active {
    background-color: #456;
    color: #AAA; }
    #figure-list .fig-in-figlist.active pre, #figure-list .fig-in-figlist.active code {
      border: 1px solid #668;
      background-color: #345;
      color: #888; }
#figure-list .reference {
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  text-indent: -1em;
  margin-left: 1em; }

pre code,
#figure-list .fig-in-figlist pre code,
#figure-list .fig-in-figlist.active pre code,
#main-text .fig-in-text pre code {
  border: 0px; }

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
    margin-top: 60px; } }

/*# sourceMappingURL=dark.css.map */
